/*header*/
header {
  padding: 25px 50px;
}
.logo-div {
  display: inline-block;
  vertical-align: middle;
}
.main-navigation li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 50px;
}
.main-navigation li a {
  color: black;
}
.main-navigation {
  display: inline-block;
  vertical-align: middle;
  margin-left: 120px;
}
/*header*/
/*main pirveli seqcia*/
.banner-section {
  position: relative;
}
.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-section img {
  width: 100%;
}
.banner-text h2 {
  font-size: 48px;
  color: white;
  font-family: Playfair;
}
.banner-text p {
  font-size: 22px;
  color: white;
  font-family: Playfair;
}
/*main pirveli seqcia*/
/*meore seqcia artikli*/
.popular h2 {
  color: #ff7a00;
  font-size: 22px;
}
.flex-div a {
  color: #ff7a00;
}
.flex-div p,
h3 {
  margin: 30px 0px;
}
.flex-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popular {
  padding: 130px 50px;
}
.popular article {
  width: calc(50% - 50px);
  margin-bottom: 40px;
}
.popular article img {
  width: 100%;
}

.read-more-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.orange-line {
  width: 50px;
  height: 4px;
  background-color: orange;
}

.popular .flex-div h3 {
  font-size: 36px;
}
.popular .flex-div p {
  font-size: 16px;
}
.popular .flex-div a {
  font-size: 14px;
}
/*meore seqcia artikli*/
/*last-section*/
.last-section img {
  width: 100%;
}
.load-more-section {
  display: flex;
  justify-content: center;
}

.load-more-section a {
  background-color: orange;
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
/*last-section*/
/*footer*/
.footer-div h3 {
  font-size: 24px;
}
.footer-div li {
  font-size: 16px;
  margin-top: 20px;
  color: #7b7b7b;
}
.footer-div {
  display: flex;
  justify-content: space-between;
}
.payment-photo {
  display: flex;
}
